.Option {
  text-decoration: none;
  border-radius: 12px; 
  margin: 0 40px; 
  width: auto;
  padding: 10px; 
  font-size: 12px; 
  background: #E94E77; 
  color: #FFFFFF; 
  border: 1px solid #D43F5A; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.Option:hover {
  background: #D43F5A; 
  transform: scale(1.05); 
}

.ActiveOption {
  text-decoration: none;
  border-radius: 12px; 
  margin: 0 40px; 
  width: auto;
  padding: 10px; 
  font-size: 14px; 
  background: #FF6F00; 
  color: #FFFFFF; 
  border: 1px solid #E65C00; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.ActiveOption:hover {
  background: #E65C00; 
  transform: scale(1.05); 
}

.nav-image {
  width: 30px; 
  height: auto; 
  margin-right: 10px; 
  vertical-align: middle; 
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px; 
  color: #343a40; 
  text-decoration: none; 
}
